.cards{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 10px;
}
h1{ 
    font-style: italic;
    font-weight: 300;
    padding:5px;
    position: absolute;
    top:-30px;
    color: #fc9250;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
}
.author{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 35px;
    margin-top: 5rem;
    width:60%;
    margin-left: 20%;
    border: 14px solid #fc9250;
    border-radius: 25px;
    min-width:min-content;
}
@media only screen and (max-width: 1166px) {
  .author {
    width: 35%;
    margin-left: 32.5%;
  }
  
}
@media only screen and (max-width: 770px) {
  .author {
    width: 50%;
    margin-left: 25%;
  }
}
@media only screen and (max-width: 426px) {
  .author {
    width: 60%;
    margin-left: 5%;
  }
}

